APScheduler==3.6.3
cachetools==4.2.2
certifi==2022.9.24
charset-normalizer==2.1.1
clarifai-grpc==8.8.0
dnspython==2.2.1
emoji==2.1.0
googleapis-common-protos==1.56.4
grpcio==1.50.0
idna==3.4
protobuf==3.19.3
pymongo==4.3.2
PySocks==1.7.1
python-telegram-bot==13.14
pytz==2022.4
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
six==1.16.0
tornado==6.1
tzdata==2022.5
tzlocal==4.2
urllib3==1.26.12
